canvas {
  display: block;
}

#frontpage {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

body {
    font-size: 4vh;
    font-family: Georgia, serif ;
    background-color: #c9ead2;
  }

  button {
    font-size: 4vh;
    font-family: Georgia, serif;
    border-radius: 10px;
    border-width: 0;
    background-color: #abd7e8;
    cursor: pointer;
}


@media screen and (max-width: 600px) {
    body {
    font-size: 3vh;
  }

  button {
    font-size: 3vh;
  }
}
